---
layout: default
---

<div class="home">
  <a href="{{site.url}}/now"
    ><span class="page-heading">{{ site.title }}</span></a
  >
  <br />
  <strong>
    <a href="{{site.url}}/now"> now </a> •
    <!-- <a href="{{site.url}}/past"> past </a> • -->
    <a href="{{site.url}}/contact"> contact </a>
  </strong>
  <br />
  <!-- Needs lambda api javascript file -->
  <!-- <br /> -->

  <!-- Bio -->
  <!-- <strong>››</strong> computer science major @ northeastern university<br>
  <strong>››</strong> enjoys <a href="{{site.url}}/about">travel</a> and <a href="{{site.url}}/about">cheap concerts</a><br>
  <strong>››</strong> interested in cyber security<br>
  <strong>››</strong> working on <a href="https://parade.events">parade</a><br> -->

  <br>
  <span id="spotify"></span>

  <!-- Josh<div class="slidingHorizontal">
  <span>is working on Parade.</span>
  <span>loves cheap concerts</span>
  <span>likes breaking things</span>
  <span>4.</span>
  <span>5.</span> -->
  <!-- </div> -->

  <!-- End Bio -->

  <br />

  <!-- Lists -->
  <ul class="post-list">
    <!-- <li class="year">Highlighted</li> -->
    {% for post in site.data.links %}
    <li>
      <a class="post-link" href="{{ post.link }}">
        <strong>››</strong>
        <span style="text-decoration: none;">
          {{ post.name }}
        </span>
      </a>
    </li>
    {% endfor %}
  </ul>

  <!-- Tags -->
  </br>
  <span style="">
    <h3>Topics</h3>
    {% include archive.html %}
  </span>

  <!-- Chronological  -->
  <ul class="post-list">
    {% for post in site.posts %} {% assign currentdate = post.date | date: "%Y"
    %} {% if currentdate != date %}
    <br />
    <li class="year" id="y{{currentdate}}">{{ currentdate }}</li>
    {% assign date = currentdate %} {% endif %}
    <li>
      <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
        <strong>››</strong>
        {% if post.favorite == "true" %}
        <span style="font-weight: 400; text-decoration: none;">
          {{ post.title }}
          <i
            style="color: orange; font-size: 12px; margin-bottom: 2px;"
            class="fas fa-star"
          ></i>
        </span>
        {% else %}
        {{ post.title }} {% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
