---
layout: default
---
<!-- We're going to give each page a tag when we create it.
This will be the title -->
<h1>{{ page.url }}</h1>

<ul class="post-list">
  {% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    <br><li class="year" id="y{{currentdate}}">{{ currentdate }}</li>
    {% assign date = currentdate %}
  {% endif %}
    <li>
      <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
        <strong>››</strong>
        {% if post.favorite == "true" %}
        <!-- <span style="font-weight:500;text-decoration:underline"> -->
          {{ post.title }}
          <i style="color:orange;font-size:12px;margin-bottom:2px" class="fas fa-star"></i>
        <!-- </span> -->
          {% else %}
           <!-- <i style="color:black;font-size:6px;margin-bottom:2px" class="fas fa-circle"></i> -->
          {{ post.title }}
        {% endif %}
      </a>
    </li>
  {% endfor %}


</ul>
