<div class="footer center">

  <a href="{{site.url}}/now"><img src="{{site.url}}/assets/me/7.jpg" /></a>
  <a href="{{site.url}}/contact">&copy; JOSH SPICER {{ site.time | date: '%Y' }}</a><br>

  <div style="font-size: smaller;">
    <a style="text-decoration: none;color: #959595;" href="https://joshspicer.com/pgp.txt">
      F5EB 0F7A B4DC 73D7 CF2A &nbsp; 2F07 4DFE 42EE 22D8 4A62 
  </a>  
    <br>   
    <a style="text-decoration: none;color: #959595;" href="https://www.blockchain.com/btc/address/3E2DY8H9iR6aXB36mjMGYfWJqbxDgys4HW">
        3E2DY8H9iR6aXB36mjMGYfWJqbxDgys4HW
    </a>
  </div>
</div>