---
layout: default
---

<!-- prettier-ignore -->

<div class="post">

  <header class="post-header">

    <!-- Nav -->
    <a href="{{site.url}}">
      <i style="color:#000" class="fas fa-home"></i>
      <br><br>


    </a>
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">Posted on {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} •
      {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    <br>

    <span>
      {% for tag in page.tags %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
      <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
      {% endfor %}
    </span>

  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <br>
  <div style="color: gray;font-style: normal; font-size: small">
    Found a mistake or typo in this post? &nbsp;
    <a style=" color: #222222; font-style: normal;font-weight: 900;"
      href="https://github.com/joshspicer/joshspicer.github.io/edit/master/{{ page.path }}">Suggest edit</a>
    <br>
    Questions/Comments?
    <a style=" color: #222222 ; font-style:normal; font-weight: 900;" href="/contact">Let me know
      &nbsp;<i style="color:#4a9e4f" class="fa fa-envelope"></i> </a>
    <br> 
    This post helpful?
    <a style=" color: #222222 ; font-style:normal; font-weight: 900;" href="https://www.buymeacoffee.com/joshspicer">Buy me a coffee!
      &nbsp;<i style="color:#E5C604" class="fa fa-coffee"></i></a> 
      <!-- &nbsp; <i onclick="alert('BTC: 3E2DY8H9iR6aXB36mjMGYfWJqbxDgys4HW')" style="color:#96C6FA;font-size: 16px;" class="fab fa-bitcoin"></i> --> 
  </div>


</div>
