---
layout: default
---

<!-- prettier-ignore -->

<div class="post">

  <header class="post-header">

    <!-- Nav -->
    <a href="{{site.url}}">
    <i style="color:#000" class="fas fa-home"></i>
    <br><br>


    </a>
     <h1 class="post-title">{{ page.title }}</h1>
     <p class="post-meta">Posted on {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
     <br>

     <span>
      {% for tag in page.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
      {% endfor %}
    </span>

</header>


  <article class="post-content">
    {{ content }}
  </article>

  <div class='center'>

  </div>

</div>
