---
layout: default
---
<div class="post">

  <header class="post-header">

    <!-- Nav -->
    <a href="{{site.url}}">
    <i style="color:#000" class="fas fa-home"></i>
    <br><br>


    </a>
     <h1 class="post-title">{{ page.title }}</h1>
     <p class="post-meta">Posted on {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
     <br>
  {% for tag in page.tags %}
    <a href="/tags/{{ tag }}/">{{ tag }}  &nbsp;</a>
    {% endfor %}

</header>


  <article class="post-content">
    {{ content }}
  </article>

  <div class='center'>

  </div>

</div>
